exercism
exercism.exe
.idea
kotlin/*/build*
kotlin/*/.gradle
kotlin/*/gradle*
kotlin/*.iml
kotlin/*/*.md
kotlin/*/out
kotlin/*/.solution.json
kotlin/*/src/main/kotlin/.keep
kotlin/*/src/test/
java/*/build*
java/*/.gradle
java/*/gradle*
java/*.iml
java/*/*.md
java/*/out
java/*/.solution.json
java/*/src/main/kotlin/.keep
java/*/src/test/
java/.gradle*
java/gradle*
java/settings.gradle
*.swp
gradle*
kotlin/*/*.iml
