shell
github-*
exercism
exercism.exe
gradle*
.idea
java/*/build*
java/.gradle*
java/*/.gradle
java/*/gradle*
java/gradle*
java/*.iml
java/*/*.md
java/*/out
java/settings.gradle
java/*/.solution.json
java/*/src/main/kotlin/.keep
java/*/src/test/
kotlin/build
kotlin/*/build*
kotlin/.gradle
kotlin/*/.gradle
kotlin/*/gradle*
kotlin/*/*.iml
kotlin/*.iml
kotlin/*/*.md
kotlin/*/out
kotlin/*/.solution.json
kotlin/*/src/main/kotlin/.keep
kotlin/*/src/test/
*.swp
